/* display the hamburger menu for the screen size max upto 1200px and if greater than that it display the desktop navigation bar */
/* media query for screen size of 1200px or greater */
/* responsive for laptop and bigger screens */
@media (min-width: 769px) and (max-width: 1440px) {
}

/* media query for size bw 758px to 1023px */
/* responsive for tablets */
@media (min-width: 426px) and (max-width: 768px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
}

/* media query for size below 767px */
/* responsive for phones */
@media (max-width: 425px) {
  * {
    flex-direction: column;
  }
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
    flex-direction: row;
  }
  section {
    height: 100vh;
  }
  /* profile section */
  #profile {
    > .section_pic-container {
      display: flex;
      height: 200px;
      width: 200px;
      margin: auto 0;
    }
    > .SectionText > #SocialContainer {
      flex-direction: row;
      > .Icon {
        height: 2rem;
      }
    }
    > .SectionTextP2 {
      text-align: center;
    }
    > .SectionText > .BtnContainer {
      align-items: center;
      flex-direction: row;
      > .Btn{
        padding: 0.5rem 3rem 0.5rem 3rem;
      }
    }
  }
  /* about section */
  #About {
    > .Title {
      padding-bottom: 0.5rem;
      font-size: 3.5rem;
    }
    > .SectionContainer > .AboutDetailContainer > .AboutContainer {
      row-gap: 1rem;
      margin-top: 0;
      margin-bottom: 0;
      > .DetailsContainer {
        padding: 1rem 4rem 1rem 4rem;
      }
    }
  }
  /* experience section */
  #Experience {
    
  }
  /* #Projects{
    flex-direction: column;
  }
  #Contact{
    flex-direction: column;
  } */
}
