/* display the hamburger menu for the screen size max upto 1200px and if greater than that it display the desktop navigation bar */
/* media query for screen size of 1200px or greater */
/* responsive for laptop and bigger screens */
@media (min-width: 769px) and (max-width: 1440px) {
}

/* media query for size bw 758px to 1023px */
/* responsive for tablets */
@media (min-width: 426px) and (max-width: 768px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
}

/* media query for size below 767px */
/* responsive for phones */
@media (max-width: 425px) {
  * {
    flex-direction: column;
  }
  #desktop-nav {
    display: none;
  }
  section {
    height: 100vh;
  }
  /* profile section */
  #profile {
    height: max-content;
    align-items: center;
    > .section_pic-container {
      display: flex;
      height: 200px;
      width: 200px;
      margin: auto 0;
    }
    > .SectionTextP2 {
      font-size: 1rem;
      text-align: center;
    }
    > .SectionText > .BtnContainer {
      align-items: center;
      flex-direction: row;
      > .Btn {
        padding: 0.5rem 3rem 0.5rem 3rem;
      }
    }
  }
  /* about section */
  #About {
    > .Title {
      padding-bottom: 0.5rem;
      font-size: 3.5rem;
    }
    > .SectionContainer > .AboutDetailContainer > .AboutContainer {
      row-gap: 1rem;
      margin-top: 0;
      margin-bottom: 0;
      > .DetailsContainer {
        padding: 1rem 4rem 1rem 4rem;
      }
    }
  }
  /* experience section */
  #Experience {
    > .Title {
      padding-top: 2rem;
      padding-bottom: 1rem;
    }
    > .SectionContainer {
      row-gap: 2rem;
      > .Container {
        padding: 1rem;
        text-align: center;
        > h3 {
          margin: 0.5rem;
        }
        > .ListContainer > .ItemContainer {
          flex-direction: row;
          column-gap: 1rem;
          justify-content: space-between;
          > span {
            flex-direction: row;
            justify-content: center;
            column-gap: 0.1rem;
            >img{
              height: 2rem;
              width: 2rem;
            }
          }
        }
      }
    }
  }
  /* project style */
  #Projects{
    padding-top: 0;
    height: max-content;
    > .Title{
      padding-bottom: 0.5rem;
    }
    > .SectionContainer{
      row-gap: 1rem;
      > .Container{
        padding: 0.5rem 1rem 0.5rem 1rem;
        > img{
          height: 250px;
          width: 350px;
        }
        > .ButtonContainer{
          display: flex;
          flex-direction: row;
          > button{
            margin: 0.5rem;
            width: 9rem;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
  /* contact style */
  #Contact{
    height: max-content;
    > .Title{
      padding-bottom: 0.5rem;
    }
    > .SectionContainer{
      display: flex;
      flex-direction: row;
      column-gap: 1rem;
      padding: 1rem;
      img{
        height: 2.5rem;
        width: 2.5rem;
      }
    }
    > span{
      position: static;
      width: max-content;
    }
  }
}
